.signup{
      color: rgb(21, 22, 22);
      cursor: pointer;
      border-radius: 5px;
      border-color: rgb(70, 104, 104);    
}

footer, p {
      color: rgb(46, 42, 42);
      font-family: Arial ;
      font-size: 15px;
      
}